.folderlist {
  list-style: none;
  padding-left: 30px;
}
.folderlist li {
	padding: 5px;
	border-bottom: 1px solid lightgray;
}
.folderlist li.folder {
  background-image: url(folder_minus.png);
  padding-left: 30px;
  background-repeat: no-repeat;
}
.plus {
	background-image: url(folder_plus.png) !important;
}
table#filebrowsericonkey tr td {
  padding: 5px;
}
table#filebrowsericonkey tr td img {
  vertical-align: middle;
}
.filebrowserheader {
  font-size: 1.6em;
  font-weight: bold;
}
.buttons {
	float:right;
}
.buttons a img {
	vertical-align: top;
}
.edit_div {
	position:absolute;
	z-index:100;
	padding: 8px;
	background-color: white;
	border: 1px solid lightgray;
}
.upload_div {
	position:absolute;
	z-index:100;
	padding: 8px;
	background-color: white;
	border: 1px solid lightgray;
}
.newfolder_div {
	position:absolute;
	z-index:100;
	padding: 8px;
	background-color: white;
	border: 1px solid lightgray;
}
.toplist li {
	font-family: arial, sans-serif;
	font-size: 0.9em;
}